<!-- <div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>Food is one of the basic necessities of life. Food contains nutrients—substances essential for the growth, repair, and maintenance of body tissues and for the regulation of vital processes.
    Nutrients provide the energy our bodies need to function.The energy in food is measured in units called calories. Age, sex, weight, height, and level of activity determine the number of calories a person needs each day.
    <br>
    Depending on age, sex, and activity level, the recommended daily caloric intake for a child aged 11 to 14 can range anywhere from 1,600 to 2,600 calories per day, with sedentary girls needing the fewest 
    calories and active boys needing the most. For adults, this can range from 1,800 to about 3,000.
    <br>
    Carbohydrates provide energy for the body. Nearly all the carbohydrates we eat come from plants. 
    They include starches found in cereal grains and plants like potatoes and yams. Sugars, found in fruits, vegetables, and milk, are also carbohydrates. Sugarcane and sugar beets are grown specifically for their high sugar content.
    Many of the starches and sugars we eat have been processed into products, such as flour and corn syrup. These processed carbohydrates are used in cookies, cakes, breads, pastas, and pies.</p>

   

</div> -->



<section id="about-me">
    <div class="home-content">
    <div class="section-title">
     <p> </p> <p> </p>
      <h1 class="text-center"> About us </h1>
      <hr class="">
  
    </div>
    <div class="row">
      <h3 style="text-align: center;">Owner</h3><p></p>
      <div class="col-lg-4">
        <div class="basic-desc">
          <i class="icon-style rounded-circle fa-8x fa-solid fa-address-card"></i>
         
          <h4>Name:Sajnin Islam</h4>
         <p></p>
         <i class="fa-solid fa-phone"> Phone No:01521392614</i><p></p>
         <i class="fa-solid fa-phone"> Email :sajninislam@gmail.com</i><p></p>
        </div>
  
      </div>


  
      <section id="about-me">
        <div class="home-content">
        <div class="section-title">
         <p> </p> <p> </p>
          <h1 class="text-center"> Find us </h1>
          <hr class="">
      <div class="row">
      <div class="col-lg-6">
        <div class="basic-desc">
        
          <i class="icon-style rounded-circle fa-8x fa-solid fa-address-book"></i>
          <h1>Head office</h1>
          <h4>Gulshan , Dhaka</h4>
          <i class="fa-solid fa-envelope">Email :</i>
          sajninislam@gmail.com
          <p></p>


          <h1>Branch</h1>
          <h4>Banani , Dhaka</h4>
          <i class="fa-solid fa-envelope">Phone :</i>
          123456789
          <p></p>
          <h4>Motijheel , Dhaka</h4>
          <i class="fa-solid fa-envelope">Phone :</i>
          123456789
          <p></p>
          <h4>Dhanmondi , Dhaka</h4>
          <i class="fa-solid fa-envelope">Phone :</i>
          123456789
          <p></p>
        <!-- <h4>Barcode scan</h4>
        <i class="fa-solid fa-barcode fa-3x"></i> -->
        </div>
      
      </div>
      <div class="col-lg-6">
        <div class="basic-desc">
          <i class="icon-style rounded-circle fa-8x fa-solid fa-award" ></i>
          <h1>Our achievements</h1>
          <i class="fa-sharp fa-solid fa-trophy fa-shake fa-3x"></i>
          <h6>Award for best service</h6>
          <!-- <i class="fa-solid fa-crown fa-beat fa-3x"></i>
          <h6>Queen award from Britain</h6>
          <i class="fa-sharp fa-solid fa-star fa-spin-pulse fa-3x"></i>
          <h6>Public best reviews</h6>
          -->
        </div>
      </div>
      </div>
      </div>
      </div>
      </section>
      
     
  
    </div>
    </div>
  </section>
  



