
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="margin-left: 80px; margin-right: 80px;">
  <h3 class="text-center" style="margin-left: 450px;"><b><u>All User List</u></b></h3>

  <table class="table">
      <thead>
        <tr>
  
          <th scope="col">Full Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Password</th>
          <th scope="col">Role</th>
          <th (click)="sort('status')" scope="col">Status <span class="fa fa-sort"></span></th>
          <th scope="col">Action</th>
          <!-- <th scope="col">Delete</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of form">
  
          <td>{{v.userFullName}}</td>
          <td>{{v.userName}}</td>
          <td>{{v.email}}</td>
          <td>{{v.password}}</td>
          <td><span *ngFor="let a of v.role">{{a.roleName}}</span></td>

          <td *ngIf="v.enabled"><button class="btn btn-success" type="submit" (click)="isEnable(v, false)">Acitive </button></td>
          <td *ngIf="!v.enabled"><button class="btn btn-danger" type="submit" (click)="isEnable(v, true)">Deactive </button></td>


          <td>
            
            <!-- <button (click)="edits(v)" data-bs-toggle="modal" data-bs-target="#signupModal" type="submit">
            <i class='bx bx-edit' style="font-size: 30px; color: rgb(118, 231, 26);">Edit</i>
          </button> -->
        
          <a class="btn  btn-success" data-bs-toggle="modal" data-bs-target="#signupModal" (click)="edits(v)">
            <i class="icon-align-left"></i> Edit</a>
             &nbsp;
            <a class="btn btn-danger" href="#" (click)="delete(v)">
              <i class="icon-trash icon-large"></i> Delete</a>
        
        
        </td>
          <!-- <td><button type="submit"><i class='bx bx-trash' style="font-size: 30px; color: red;" (click)="delete(v)">Delete</i></button></td> -->

       
         
  
        </tr>
  
     
    </table>




</div>


<!-- Sign Up Start -->
      
<div class="modal fade" id="signupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <form name="form">
        <div class="modal-header">
          <h5 class="modal-title d-flex align-items-center">
            <i class="bi bi-person-lines-fill fs-3 me-2"></i>User List Edit Form            
          </h5>
          <button type="reset" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 

          <div class="container-fluid">
            <div class="row" >
              <div class="col-md-6 ps-0 mb-3">
                <label class="form-label" for="userfullnameid">Full Name</label>
                <input type="text" class="form-control shadow-none"
                [ngModel]="forms.userFullName" 
                name="userfullname"
                id="userfullnameid"
                
               
                >
                
              </div>
              <div class="col-md-6 ps-0 mb-3">
                <label class="form-label" for="usernameid"> User Name </label>
                <input type="text" class="form-control shadow-none"
                [ngModel]="forms.userName" 
                name="username"
                id="usernameid"
            
                >

                
              </div>
              <div class="col-md-6 ps-0 mb-3">
                <label class="form-label" for="emailid">Email Address</label>
                <input type="email" class="form-control shadow-none"
                [ngModel]="forms.email"
                name="email"
                id="emailid"
                >
              </div>
              <div class="col-md-6 ps-0">
                <label class="form-label" for="passwordid">Password</label>
                <input type="text" class="form-control shadow-none"
                [ngModel]="forms.password"
                name="password"
                id="passwordid"
                >
              </div>          
              <div class="col-md-6 ps-0">
                <label class="form-label" for="roleid">Role</label>
                <input type="text" class="form-control shadow-none"
                [ngModel]="forms.role"
                name="role"
                id="roleid"
                >
              </div>          
            </div>
          </div>
          <div class="text-center my-1">
            <button type="submit" class="btn btn-dark shadow-none" (click)="onSubmit()">Update</button>

          </div>
  
        </div>       
      </form>  
    </div>
  </div>
</div>

