
label{
    font-weight: bold;
    font-size: 20px;
}


.popup{
    width: 400px;
    height: 200px;
    background: #5e5b5b;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    visibility: visible;
    
}

.open-popup{
visibility: hidden;


}

.popups{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-70%, -70%);
}
