<!-- 
<div class="home-content">

 
    <br>
  
      <div class="input-group" style="width: 520px; height: 40px; margin-left: 20px;">
        <input type="search" class="form-control rounded" placeholder=" Search..," aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">Search</button>
      </div>
      <br>
  
  
    <div class="overview-boxes">
      
  
      <div class="box" >
        <div class="right-side">
          <div class="box-topic">Total Branches</div>
          <div class="number">{{form.length * 25}}</div>
         
        </div>
        <i class='bx bxl-firebase' style="font-size: 50px;"></i>
      </div>
      
  
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Employee</div>
          <div class="number">{{forms.length * 100}}</div>
        </div>
        <i class='bx bxl-microsoft-teams' style="font-size: 50px;"></i>
      </div>
  
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total User</div>
          <div class="number">{{forms.length * 5465}}</div>
        </div>
        <i class='bx bxl-microsoft-teams' style="font-size: 50px;"></i>
      </div>
  
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Parcel Diliveryed</div>
          <div class="number">12,000</div>
        </div>
        <i class='bx bxl-microsoft-teams' style="font-size: 50px;"></i>
      </div>
    </div>
  
  
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Parcel Recived</div>
          <div class="number">40,87</div>
          <div class="indicator">
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Parcel Cancel</div>
          <div class="number">3,800</div>
          <div class="indicator">
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Parcel Pending</div>
          <div class="number">12</div>
         <div class="indicator">
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Earn</div>
          <div class="number">11,000</div>
          <div class="indicator">
          </div>
        </div>
      </div>
      <li class="log_out">
        <a href="#" (click)="logout()">
          <i class='bx bx-log-out'></i>
          <span class="links_name" >Log out</span>
        </a>
      </li>
  
    </div>
  
  
  </div>
  
  
  
  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>
 -->

 <br>
 <br>
 <br>
 <br>
 <br>

 
<div class="home-content">

  <br>


  <!-- .............1st div start............ -->
  <div class="overview-boxes">
    
    <!-- this div for total branches -->
    <div  class="box" >
      <a href="" style="text-decoration: none;" routerLink="/admins/branch/BranchList">
        <div class="right-side">
          <div class="box-topic">Total Branches</div>
          <div class="number">{{formBranchModel.length}}</div>
        </div>
      </a>
      <i class='bx bxl-firebase' style="font-size: 50px;"></i>
    </div>

    <!-- this div for total employee -->
    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/addemployee/viewEmplist">
        <div class="right-side">
          <div class="box-topic">Total Employee</div>
          <div class="number">{{formForAlluser.length}}</div>
        </div>
      </a>
      <i class='bx bxl-microsoft-teams' style="font-size: 50px;"></i>
    </div>

    <!-- this div for total user -->
    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/userList">
        <div class="right-side">
          <div class="box-topic">Total User</div>
          <div class="number">{{formForAlluser.length *2}}</div>
        </div>
      </a>
      <i class='bx bxl-microsoft-teams' style="font-size: 50px;"></i>
    </div>

    <!-- this div for total Order -->
    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/parcelDetail/allOrderList">
        <div class="right-side">
          <div class="box-topic">Total Order</div>
          <div class="number">{{formForAllOrder.length}}</div>
          <div class="indicator">
          </div>
        </div>
      </a>
    </div>

  </div>
  <!-- .............1st div end............ -->



  <!-- .............2nd div start............ -->
  <div class="overview-boxes">

    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/parcelDetail/pendingOrderList">
        <div class="right-side">
          <div class="box-topic">Total Order Pending</div>
          <div class="number">{{formPending.length}}</div>
          <div class="indicator">
          </div>
        </div>
      </a>
    </div>

    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/parcelDetail/recivedOrderList">
        <div class="right-side">
          <div class="box-topic">Total Order Recived</div>
          <div class="number">{{formReceived.length}}</div>
        </div>
      </a>
    </div>

    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/parcelDetail/onTheWayOrderList">
        <div class="right-side">
          <div class="box-topic">Total Order On The Way</div>
          <div class="number">{{formOnTheWay.length}}</div>
          <div class="indicator">
          </div>
        </div>
      </a>
    </div>

    <div class="box">
      <a href="" style="text-decoration: none;" routerLink="/admins/parcelDetail/deliverdOrderList">
        <div class="right-side">
          <div class="box-topic">Total Order Delivered</div>
          <div class="number">{{formDelivered.length}}</div>
          <div class="indicator">
          </div>
        </div>
      </a>
    </div>

  </div>
  <!-- .............2nd div end............ -->



  <!-- .............3rd div start............ -->
  <div class="overview-boxes">

    <div class="box" style="text-decoration: none;">
      <a href="" style="text-decoration: none;" routerLink="/admins/parcelDetail/cancelOrderList">
        <div class="right-side">
          <div class="box-topic">Total Order Cancel</div>
          <div class="number">{{formCancel.length}}</div>
          <div class="indicator">
          </div>
        </div>
      </a>
    </div>

    <div class="box">
      <a href="" style="text-decoration: none;">
        <div class="right-side">
          <div class="box-topic">Total Complain</div>
          <div class="number">40,87006</div>
          <div class="indicator">
          </div>
        </div>
      </a>
    </div>

  </div>
  <!-- .............3rd div end............ -->
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>



<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function () {
    sidebar.classList.toggle("active");
    if (sidebar.classList.contains("active")) {
      sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
    } else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
  }




</script>
