



<div style="margin-left: 80px; margin-right: 80px; margin-top: 20px;">
    
    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" >Employee List</h3>
    

    
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Catagory</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Branch</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>@mdo</td>
    
        <td><button type="submit">
         <i class='bx bx-edit' style="font-size: 30px; color: rgb(118, 231, 26);"></i>
        </button></td>
        <td><button type="submit"><i class='bx bx-trash' style="font-size: 30px; color: red;"></i></button></td>

      </tr>

   
  </table>

    </div>
